# Eclat

## Importing the libraries

In [8]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=ba5007d9a2ea161b81f0f981b025708f0ca71c6360de7cffb01cb07882813310
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [3]:
dataset = pd.read_csv('/content/groceries.csv',on_bad_lines='skip')
transactions = []

In [4]:
dataset.shape

(6106, 4)

In [5]:
dataset

,item1,item2,item3,item4
0,citrus fruit,semi-finished bread,margarine,ready soups
1,tropical fruit,yogurt,coffee,NaN
2,whole milk,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads
4,other vegetables,whole milk,condensed milk,long life bakery product
...,...,...,...,...
6101,yogurt,long life bakery product,NaN,NaN
6102,pork,frozen vegetables,pastry,NaN
6103,ice cream,long life bakery product,specialty chocolate,specialty bar
6104,cooking chocolate,NaN,NaN,NaN
6105,semi-finished bread,bottled water,soda,bottled beer

In [14]:
for i in range(0, 6106 ):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 4 )])

## Training the Eclat model on the dataset

In [21]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.002, min_confidence = 0.1, min_lift = 2, min_length = 2, max_length = 2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [22]:
results = list(rules)

In [23]:
results

[RelationRecord(items=frozenset({'other vegetables', 'beef'}), support=0.004749426793318048, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'other vegetables'}), confidence=0.19863013698630136, lift=2.2840595413151714)]),
 RelationRecord(items=frozenset({'root vegetables', 'beef'}), support=0.0036030134294136916, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.1506849315068493, lift=4.05322551445296)]),
 RelationRecord(items=frozenset({'whipped/sour cream', 'berries'}), support=0.0026203734032099572, ordered_statistics=[OrderedStatistic(items_base=frozenset({'berries'}), items_add=frozenset({'whipped/sour cream'}), confidence=0.21333333333333332, lift=8.040823045267489)]),
 RelationRecord(items=frozenset({'berries', 'yogurt'}), support=0.0027841467409105798, ordered_statistics=[OrderedStatistic(items_base=frozenset({'berries'}), items_add=frozenset({'yogurt'}), confidence=0.22666666666666666, lift=3.604236111111111)]),
 RelationRecord(items=frozenset({'liquor', 'bottled beer'}), support=0.005895840157222404, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.5625, lift=8.459667487684728)]),
 RelationRecord(items=frozenset({'bottled beer', 'red/blush wine'}), support=0.002947920078611202, ordered_statistics=[OrderedStatistic(items_base=frozenset({'red/blush wine'}), items_add=frozenset({'bottled beer'}), confidence=0.21951219512195122, lift=3.3013336537306257)]),
 RelationRecord(items=frozenset({'bottled water', 'white wine'}), support=0.003439240091713069, ordered_statistics=[OrderedStatistic(items_base=frozenset({'white wine'}), items_add=frozenset({'bottled water'}), confidence=0.2079207920792079, lift=3.1270058040286783)]),
 RelationRecord(items=frozenset({'other vegetables', 'chicken'}), support=0.0031116934163118244, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chicken'}), items_add=frozenset({'other vegetables'}), confidence=0.1743119266055046, lift=2.004423020439192)]),
 RelationRecord(items=frozenset({'other vegetables', 'citrus fruit'}), support=0.006059613494923026, ordered_statistics=[OrderedStatistic(items_base=frozenset({'citrus fruit'}), items_add=frozenset({'other vegetables'}), confidence=0.17788461538461536, lift=2.045505577285238)]),
 RelationRecord(items=frozenset({'citrus fruit', 'tropical fruit'}), support=0.0037667867671143137, ordered_statistics=[OrderedStatistic(items_base=frozenset({'citrus fruit'}), items_add=frozenset({'tropical fruit'}), confidence=0.11057692307692307, lift=2.7785295979740425)]),
 RelationRecord(items=frozenset({'curd', 'yogurt'}), support=0.002947920078611202, ordered_statistics=[OrderedStatistic(items_base=frozenset({'curd'}), items_add=frozenset({'yogurt'}), confidence=0.14516129032258063, lift=2.3082157258064515)]),
 RelationRecord(items=frozenset({'frankfurter', 'rolls/buns'}), support=0.008188666885031117, ordered_statistics=[OrderedStatistic(items_base=frozenset({'frankfurter'}), items_add=frozenset({'rolls/buns'}), confidence=0.28409090909090906, lift=2.2528040141676504)]),
 RelationRecord(items=frozenset({'hamburger meat', 'other vegetables'}), support=0.0026203734032099572, ordered_statistics=[OrderedStatistic(items_base=frozenset({'hamburger meat'}), items_add=frozenset({'other vegetables'}), confidence=0.21333333333333332, lift=2.4531324544883866)]),
 RelationRecord(items=frozenset({'liquor', 'red/blush wine'}), support=0.0022928267278087126, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'red/blush wine'}), confidence=0.21875, lift=16.288871951219512), OrderedStatistic(items_base=frozenset({'red/blush wine'}), items_add=frozenset({'liquor'}), confidence=0.17073170731707316, lift=16.288871951219512)]),
 RelationRecord(items=frozenset({'other vegetables', 'root vegetables'}), support=0.0075335735342286275, ordered_statistics=[OrderedStatistic(items_base=frozenset({'root vegetables'}), items_add=frozenset({'other vegetables'}), confidence=0.2026431718061674, lift=2.3302056629914465)]),
 RelationRecord(items=frozenset({'other vegetables', 'white bread'}), support=0.0031116934163118244, ordered_statistics=[OrderedStatistic(items_base=frozenset({'white bread'}), items_add=frozenset({'other vegetables'}), confidence=0.18811881188118812, lift=2.16318920027596)]),
 RelationRecord(items=frozenset({'pip fruit', 'tropical fruit'}), support=0.0037667867671143137, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pip fruit'}), items_add=frozenset({'tropical fruit'}), confidence=0.12169312169312169, lift=3.057852679251856)]),
 RelationRecord(items=frozenset({'sausage', 'rolls/buns'}), support=0.013429413691451031, ordered_statistics=[OrderedStatistic(items_base=frozenset({'rolls/buns'}), items_add=frozenset({'sausage'}), confidence=0.1064935064935065, lift=2.211732485201873), OrderedStatistic(items_base=frozenset({'sausage'}), items_add=frozenset({'rolls/buns'}), confidence=0.2789115646258503, lift=2.211732485201873)])]

### Putting the results well organised into a Pandas DataFrame

In [24]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support'])

### Displaying the results sorted by descending supports

In [25]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

          Product 1         Product 2   Support
17       rolls/buns           sausage  0.013429
11      frankfurter        rolls/buns  0.008189
14  root vegetables  other vegetables  0.007534
8      citrus fruit  other vegetables  0.006060
4            liquor      bottled beer  0.005896
0              beef  other vegetables  0.004749
9      citrus fruit    tropical fruit  0.003767
16        pip fruit    tropical fruit  0.003767
1              beef   root vegetables  0.003603
6        white wine     bottled water  0.003439